
.child {
  margin-top: 150px;
  margin-right: 200px;
  margin-left: center;
  width: 850px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: right;
  text-align: center;
}
.outercontainer {
  position: absolute;
  width : 300px;
  top : -150px;
  left: 400px;
  margin: 50px 0 0 50px;
}

.Icon {
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: left;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow: 
    -2px -2px 6px rgba(#fff, .6),
    2px 2px 12px #c8d8e7;
  
}

